*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: red;
    width: 100%;
}

nav img{
    width: 150px;
}

nav ul{
    display: block;
    width: 100%;
    padding: 20px 0 20px 0;
}

nav ul li{
    display: inline-block;
    margin-left: 10%;
    text-align: center;
    padding: 0 20px 0 20px;
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover{
    text-decoration: underline;
}

/*FIM PROPRIEDADES TOP*/

main{
    width: 80%;
    margin: auto;
}

main h1{
    font-size: 1.2em;
    margin-top: 10px;
}

main p{
    margin: 10px 0 10px 0;
}

/*FIM PROPRIEDADES CONTEUDO*/

footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

footer h4{
    font-size: 1em;
    color: red;
    font-weight: lighter;    
}

footer img{
    width: 280px;
}