*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    color: red;
}

nav{
    width: 100%;
    background-color: red;
    text-align: center;
}

nav ul{
    display: block;
    width: 100%;
    list-style: none;
}

nav ul li{
    display: inline-block;
    width: 20%;
    padding: 10px;
}

nav > ul > li > a > img{
    width: 100px;
}

nav > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bolder;
}

nav > ul > li > a:hover{
    text-decoration: underline;
}

main{
    padding-bottom: 20px;
}

 #categorias{
    vertical-align: top;
}

table{
    text-align: center;
}

table td{
    width: 20%;
    vertical-align: bottom;
}

table td p.valor-antigo{
    font-size: 0.9em;
    text-decoration: line-through;
    font-weight: bolder;
}

table td p.valor-atual{
    color: red;
    font-weight: bolder;
    font-size: 1.1em;
}

table td img{
    width: 120px;
}

footer{
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}
footer > img{
    width: 300px;
}
