*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background-color: #ff0000;
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 19%;
    font-size: 1.2em;
    font-weight: bolder;
}

.menu a:hover{
    text-decoration: underline;
}

.menu > #logo{
    width: 150px;
    margin: 0 50px 0 0;
}

.menu img{
    display: block; 
    width: 150px;
}

/*FIM PROPRIEDADES TOP*/

main{
    width: 80%;
    margin: auto;
}

main h1{
    font-size: 1.2em;
    margin-top: 10px;
}

main > p{
    margin: 10px 0 10px 0;
}

/*FIM PROPRIEDADES CONTEUDO*/
main#produtos{
    width: 100%;
}

main#produtos h1{
    margin-left: 25px;
}

main section.categorias{
    display: inline;
    float: left;
    height: 100vh;
    width: 180px;
    padding: 20px;
}

main section.categorias> h3{
    padding: 10px 0 10px 0;
}

main section.categorias ul{
    margin-left: 20px;
    list-style: none;
    font-size: 0.9em;
}

main section.categorias ul li{
    padding: 5px 0 5px 0;
}

main section.produtos{
    display: inline;
    float: right;
    width: 80%;
}

section div.box-produtos{
    padding-top: 20px;
    width: 200px;
    display: inline-block;
    text-align: center ;
}

section div.box-produtos img{
    width: 150px;
    padding: 20px 0 20px 0;
}

section div.box-produtos > p{
    text-align: center;
}

section div.box-produtos .valor-antigo{
    text-decoration: line-through;
    font-size: 0.8em;
    font-weight: bolder;
}

section div.box-produtos .valor-atual{
    color: #ff0000;
    font-weight: bolder;
    font-size: 1.1em;
}

/* FIM PROPRIEDADES DA PAGINA PRODUTOS */

main#faleconosco table{
    margin-top: 20px;
}

main#faleconosco form{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    text-align: center;
}
main#faleconosco input{
    margin: 5px 0 5px 0;
    width: 400px;
}

main#faleconosco textarea{
    width: 400px;
}

main#faleconosco #btn{
    width: 100px;
}

/* FIM PROPRIEDADES DA PAGINA FALE CONOSCO */

main#nossas-lojas table{
    margin-top: 50px;
    padding-bottom: 50px;
}
footer{
    clear: both;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

footer h4{
    font-size: 1em;
    color: red;
    font-weight: lighter;    
}

footer img{
    width: 280px;
}